.about {
  background-color: $light-black;
  padding-top: 120px;

  @include tablet {
    padding-top: 65px;
  }

  @include mobile {

    padding: 0 16px;
    padding-top: 80px;
  }
}

.about h2 {
  margin: 0;
  padding: 0;
  @include title;
  color: $white;
  text-align: center;

}

.about p {
  color: $white;
  opacity: 0.7;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  max-width: 340px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 56px;

  @include tablet {
    max-width: 429px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  @include mobile {
    margin-bottom: 52px;
  }
}

.about__video {
  display: flex;
  justify-content: center;
  bottom: -98px;
  position: relative;
  z-index: 1;
  margin-top: -98px;

  @include tablet {
    bottom: -85px;
    margin-top: -85px;
  }

  @include mobile {
    bottom: -48px;
    margin-top: -48px;
  }
}

.about__video img {
  @include tablet {
    width: 503px;
    height: 282px;
  }

  @include mobile {
    width: 288px;
    height: 161px;
  }
}

.about__video svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: $green;
  cursor: pointer;

  @include tablet {
    width: 90px;
    height: 90px;

  }

  @include mobile {
    width: 65px;
    height: 65px;
  }

  &:hover {
    color: $dark-grey;
  }

  &:active {
    color: $light-grey;
  }
}
