.contact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 90px;
  row-gap: 40px;
  margin: 40px auto 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
  justify-content: center;

  @include tablet {
    margin: 20px auto 0 auto;
    padding-top: 20px;
    padding-bottom: 52px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0 auto;
    padding-bottom: 50px;
    padding-left: 20px;
    row-gap: 0;
  }
}

.contact__mail,
.contact__phone {
  display: flex;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $dark-grey;
    text-decoration: underline;
  }

  &:active {
    color: $green;
  }
}

.contact__mail {
  // margin-right: 90px;
  margin-left: -15px;

  @include tablet {
    margin-left: -10px;
  }

  @include mobile {
    margin-top: 12px;
    margin-right: 0;
    margin-bottom: 22px;
  }
}

.contact__phone {
  @include mobile {
    margin-top: -5px;
    margin-left: -30px;
    align-items: center;
  }
}

.contact__icon {
  margin-right: 15px;
}
