.form {
  outline: 2px solid pink;
  outline-offset: -2px;
  margin-top: 260px;
  width: 327px;

  @include tablet {
    // margin: 150px auto 0px auto;
    width: 100%;
    background-color: $white;
  }
}

.form p {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;

  @include tablet {
    width: 327px;
    margin: 0 auto;
    font-size: 18px;
    color: $black;
  }
}
