.form {

  margin-top: 260px;
  width: 327px;

  @include tablet {
    margin-top: 80px;
    padding-top: 70px;
    width: 100%;
    background-color: $white;
  }

  @include mobile {
    margin-top: 70px;
  }
}

.form p {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;

  @include tablet {
    max-width: 327px;
    margin: 0 auto;
    font-size: 18px;
    color: $black;
  }

  @include mobile {
    padding: 0 16px;
  }
}
