.form-request {
  margin-top: 20px;

  @include tablet {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
  }

  @include mobile {
    margin-top: 20px;
  }
}

.form-request input {
  width: 100%;
  height: 48px;
  padding-left: 30px;
  margin-bottom: 20px;
  border: 1px solid #C9CCD4;
  border-radius: 6px;
  cursor: pointer;

  &::placeholder {
    font-family: 'OpenSans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $special-grey;
  }

  @include tablet {
    max-width: 321px;
    padding-left: 25px;
  }

  @include mobile {
    width: 288px;
  }

  &:hover {
    &::placeholder {
      color: $black;
    }
  }
}

.form-request__submit input {
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $green;
  border: none;
  border-radius: 6px;
  padding: 0;
  text-align: center;

  @include tablet {
    width: 321px;
    height: 51px;
  }

  @include mobile {
    width: 288px;
  }

  &:hover {

    opacity: 0.7;
  }

  &:active {
    opacity: 1;
    color: $white;
  }
}
