.header {
  min-height: 825px;
  background-color: $dark;
  background-image: url("../img/background/bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/bike@2x.jpg");
  }

  @include tablet {
    min-height: 0;
    max-height: fit-content;
    background-image: url("../img/background/bike-tablet.jpg");
    background-size: 100%;

    @include retina {
      background-image: url("../img/background/bike-tablet@2x.jpg");
    }
  }

  @include mobile {
    background-image: url("../img/background/bike-mobile.jpg");
    background-size: 100%;

    @include retina {
      background-image: url("../img/background/bike-mobile@2x.jpg");
    }
  }
}

.header__main {
  display: flex;
  justify-content: space-between;


  @include tablet {
    display: block;
  }
}

.header__description {
  margin-top: 260px;

  @include tablet {
    margin-top: 85px;
  }

  @include tablet {
    margin-top: 70px;
  }
}

.header__description h1 {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 1px;
  color: $white;
  max-width: 393px;
  text-align: left;

  @include tablet {
    margin-top: 85px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    max-width: 100%;
  }

  @include mobile {
    margin-top: 60px;
    padding: 0 16px;
  }
}

.header__description p {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba(255, 255, 255, 0.8);
  max-width: 393px;

  @include tablet {
    font-size: 18px;
    line-height: 32px;
    max-width: 435px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  @include mobile {
    padding: 0 16px;
  }
}
