.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;

  @include tablet {
    flex-direction: row;

  }

}

.menu--open {
  @include tablet {
    .logo {
      display: none;
    }

    background-color: $white;
  }
}
