.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @include tablet {
    display: none;
  }

  &--open {
    @include tablet {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
      background-color: $white;
      overflow-y: scroll;
    }
  }

  &--no-js {
    display: block;
    position: relative;
  }
}

.navigation__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // column-gap: 134px;
  //--
  // justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.005em;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding: 0;
  }
}

.navigation__item:not(:nth-child(4n)) {
  margin-right: 134px;
}

.navigation--no-js,
.navigation--open {
  @include tablet {
    width: 100%;
    padding-top: 100px;

    .navigation__list {
      display: block;
      text-align: left;
      background-color: $white;
    }

    .navigation__link {
      color: $dark-grey;
    }
  }
}

.navigation__link {
  display: block;
  color: $white-opacity;
  text-decoration: none;
  white-space: nowrap;

  padding-top: 21px;
  padding-bottom: 9px;

  &:not(:last-child) {
    margin-right: 135px;

    @include tablet {
      margin-right: 0;
    }
  }

  @include tablet {
    position: relative;
    padding: 16px 0 16px 16px;
    background-color: #f6f6f6;
    margin-bottom: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      top: 50%;
      transform: translateY(-50%);
      right: 50px;
      background-image: url("../img/icon/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.navigation__link:hover {
  color: $white;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: $white;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.navigation__link:active {
  color: $green;

  &::before {
    background-color: $green;
  }
}
