//Screen size
$mobile: 320px;
$tablet: 767.66px;
$desktop: 1023.33px;

// Colors
$white: #ffffff;
$black: #000000;
$special-black: #1F1F1F;
$dark: #161616;
$green: #0AD9C6;
$grey: rgba($color: $black, $alpha: 0.5);
$medium-grey: rgba($color: $black, $alpha: 0.7);
